# Python bytecode
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Data files - we don't want raw/processed CSVs pushed
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS metadata
.DS_Store

# Virtual envs
venv/
.env/
